.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: url('./assets/neighborhood.jpg');
  background-position: top center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.Container {
  display: flex;
  width: 100vw;
  height: 93vh;
}

.Header {
  display: flex;
  width: 100vw;
  height: 7vh;
}